.app{
    width: 80%;
    
}
.font-header{
    font-size: 400%;
    padding: 20px;
    font-weight: 900;
    color: white;
    /* TODO: change background-color here */
    background-color: rgb(5, 5, 83);
}
.info-label{
    font-size: 280%;
    padding-left: 40px;
}

.info-data{
    min-width: 90px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgb(165, 165, 165);
    
}

.glass-btn{

    min-width: 90px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgb(165, 165, 165);
}


@media screen and (max-width: 400px){
    *{
        font-size: 95%;
    }
    .info-label{  
        font-size: 90%;
    }

.info-data{

    min-width: 50px;
    padding: 4px;
}
}