
body{
    min-height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
}
.font-header{
    font-size: 400%;
    padding: 20px;
    font-weight: 900;
    color: white;
    /* TODO: change background-color here */
    background-color: rgb(5, 5, 83);
}
.info-label{
    font-size: 280%;
    padding-left: 40px;
}

.info-data{
    min-width: 90px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgb(165, 165, 165);
    
}


.glass-btn{

    min-width: 90px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgb(165, 165, 165);
    background-color:white !important;
}


@media screen and (max-width: 400px){
    *{
        font-size: 95%;
    }
    .info-label{  
        font-size: 90%;
    }

.info-data{

    min-width: 50px;
    padding: 4px;
}
}